<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.semisky.bluetoothproject">

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <!-- 允许读写setting里面的键值对 -->
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".application.BtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/bt_app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.semisky.nforeservice.service.BtBaseService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.semisky.bastBtService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.BtLocalService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.semisky.service.BTSERVICE_START"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BtReceiverInteractive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- 蓝牙配对弹框广播 -->
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
                <action android:name="com.semisky.preStartHome"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BtAutoTestService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.semisky.service.BTAUTOTEST_START"/>
            </intent-filter>
        </service>
    </application>

</manifest>